<%= form_with(url: stock_path(item), method: :put) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h4>
    <span class="text-success"><%= "Adding stock" if action == 'add'%></span>
    <span class="text-danger"><%= "Removing stock" if action == 'remove'%></span>
  </h4>
    <%= form.hidden_field action, value: true %>
  <div>
    <%= form.label :name, class:"form-label" %>
    <%= form.text_field :name, class:"form-control w-25 w-sm-100", disabled:"disabled", value: item.name %>
  </div>

  <div>
    <%= form.label :internal_code, class:"form-label" %>
    <%= form.text_field :internal_code, class:"form-control w-25 w-sm-100", disabled:"disabled", value: item.internal_code %>
  </div>

  <div class="form-label">
    <label>( Current stock:</label>
    <label><%= item.stock %> )</label>
  </div>

  <div>
    <%= form.label :stock, class:"form-label" %>
    <%= form.number_field :stock, class:"form-control w-25 w-sm-100", value: 0 %>
  </div>

  <div>
    <%= form.submit "Save", class:"btn btn-success m-3" %>
  </div>
<% end %>